# Android: ignora artefactos y secretos
frontend/android/.gradle/
frontend/android/.idea/
frontend/android/**/build/
frontend/android/**/captures/
frontend/android/**/generated/
frontend/android/**/intermediates/
frontend/android/**/outputs/
frontend/android/**/*.iml
frontend/android/.cxx/
frontend/android/local.properties
frontend/android/app/*.keystore
frontend/android/app/*.jks

# iOS
frontend/ios/Pods/
frontend/ios/build/
frontend/ios/**/*.xcuserdata/
frontend/ios/**/*.xcuserdatad
frontend/ios/**/*.xcworkspace

# Secrets
backend/.env
backend/.env.docker

# Basura Windows
**/nul
**/NUL
# Más Android basura/locales
frontend/android/.kotlin/
frontend/backup_android/

# Por si acaso, ignora explícitamente el keystore debug
frontend/android/app/debug.keystore